<h2>2015 Draw</h1>

<div>Go to round <select ng-model="selectedRound" ng-change="doShortcut()" ng-options="round.title for round in rounds"></select></div>
<p>{{ currentRoundId }}</p>


<ul>
	<li ng-repeat="round in draw">
		<h3>{{ round.round }} ({{ round.games.length }})</h3>
		<a id="{{ round.round }}"></a>
		<table ng-show="isCurrentRoundId(round.order)" style="width: 100%;">
			<tr>
				<th>Home</th>
				<th>Away</th>
				<th>Venue</th>
				<th>Date</th>
				<th>Time</th>
				<th>TV</th>
			</tr>
			<tr ng-repeat="game in round.games" >
				<td><a href="" ng-bind="game.home"></a></td>
				<td><a href="" ng-bind="game.away"></a></td>
				<td ng-bind="game.venue"></td>
				<td ng-bind="game.date"></td>
				<td ng-bind="game.time"></td>
				<td ng-bind="game.tv"></td>
			</tr>
		</table>
	</li>
</ul>
